<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<link rel="shortcut icon" href="/favicon.ico">
<title>Page not found!</title>
<link rel="stylesheet" type="text/css" href="/resources/css/error.css" />
<body>
	<div class="error">
		<div>
			<h1>404</h1>
			<div class='desc'>
				<h2>
					This page could not be found. Are you got lost? Go <a href="/">Home</a>
				</h2>
			</div>
		</div>
	</div>
</body>
</html>
